{% extends '@layout/default.html.twig' %}

{% block title %}Testeaa{% endblock %}

{% block content %}
    <h2 class="text-center">Lista de clientes</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Cpf</th>
            <th>Logradouro</th>
            <th>Cep</th>
            <th>Cidade</th>
            <th>Estado</th>
        </tr>
        </thead>

        <tbody>
        {% for cli in clientes %}
            <tr>
                <td>{{ cli.cliente.nome }}</td>
                <td>{{ cli.cliente.email }}</td>
                <td>{{ cli.cliente.cpf }}</td>
                <td>{{ cli.logradouro }}</td>
                <td>{{ cli.cep }}</td>
                <td>{{ cli.cidade }}</td>
                <td>{{ cli.estado }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}