{% extends '@layout/default.html.twig' %}

{% block title %} Exclusão de contato - {{ parent() }}{% endblock %}

{% block content %}
    {% include '@app/customer/_form-elements.html.twig' %}

    {% set submit = form.get('submit') %}
    {% do submit.setAttribute('class', 'btn btn-danger').setLabel('Remover') %}

    {% do form.setAttribute('action', url('customer.remove', {id: form.getObject().id})) %}
    {% do form.prepare() %}
    <div class="row">
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-body">
                    {{ form().openTag(form) | raw }}
                    {{ formHidden(form.get('_method')) }}
                    <div class="box-body">
                        <fieldset disabled>
                            {% include '@app/customer/_form.html.twig' %}
                        </fieldset>
                        <div class="box-fotter">
                            {{ formButton(submit) }}
                        </div>
                    </div>
                    {{ form().closeTag | raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_header %} Remover contato - {{ form.getObject().name }}{% endblock %}