{% extends '@layout/default.html.twig' %}

{% block title %}Listagem de contatos - {{ parent() }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="box">
            <div class="box-header">
                <a href="{{ url('customer.create') }}" class="btn btn-app"><i class="fa fa-plus-circle"></i> Novo contato</a>
            </div>
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th style="width: 10px;">#</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Editar</th>
                        <th>Excluir</th>
                    </tr>
                    {% for customer in customers %}
                        <tr>
                            <td>{{ customer.id }}</td>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.email }}</td>
                            <td><a href="{{ url('customer.update', {id: customer.id}) }}" title="Editar">Editar</a> </td>
                            <td><a href="{{ url('customer.remove', {id: customer.id}) }}" title="Excluir">Excluir</a> </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_header %} Listagem de Contatos {% endblock %}